<div class="container-fluid bg-light">
    <div class="row">
        <div class="offset-lg-1 col-md-5 p-3">
            <p><strong>Bike Model:</strong> {{bike}}</p>
            <p><strong>Trip Time:</strong> {{tiempoTranscurrido}}</p>
            <p><strong>Cost:</strong> {{cost.toFixed(2)}} €/min</p>
        </div>

        <div class="col-md-5 p-3">
            <div class="text-center mb-3">
                <img src="../../../assets/img/bike-trip.png" alt="">
            </div>
            <button class="btn btn-dark btn-block rounded-pill col-12" (click)="openModal(content)">Finish Ride</button>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-fullscreen">
      <button type="button" class="close btn-dark" style="background-color: black;" aria-label="Close" (click)="modal.close()">
        <span aria-hidden="true" style="color: white;">&times;</span>
      </button>
      <div class="modal-body">
        <p>Choose a Station to finish your ride</p>
        <div class="map-container">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </ng-template>
  