<div class="card border-0 rounded-5">
    <div class="text-center mx-5">
        <img src="../../../assets/img/bike.png" class="card-img-top m-3 mx-auto w-75" alt="Imagen bici">
    </div>
    <div class="card-body text-center mb-4">
        <div class="bg-dark text-white text-center rounded-5 py-3 mx-5">
            <p><strong>Name:</strong> {{bike.nombre}}</p>
            <p><strong>Brand: </strong>{{bike.marca}}</p>
            <p><strong>Modelo: </strong>{{bike.modelo}}</p>
        </div>
    </div>
</div>